@import url("https://fonts.googleapis.com/css?family=Acme|Merienda");

body {
  margin: 0;
  padding: 0;
  font-family: "Acme", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#top-bar {
  border: solid 2px black;
  border-radius: 10px;
  height: 100%;
  margin-top: 50px;
  background-color: white;
}

#menu-button {
  border: solid 2px black;
  border-radius: 10px;
  float: left;
  padding: 10px;
  margin-top: 30px;
  margin-left: 30px;
  justify-content: center;
}

#main-title {
  font-size: 5em;
  text-align: center;
  padding-right: 200px;
}

#profile-display {
  border: solid 2px black;
  border-radius: 10px;
  padding: 10px;
  display: inline-flex;
  margin-top: 20px;
  width: 100%;
  background-color: white;
}

#profile-pic {
  border: solid 2px blue;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 50px;
}

#profile-details {
  margin-left: 80px;
}

#login-form {
  margin-top: 50px;
}

#upcoming-parties-pane {
  margin-top: 20px;
  border: solid 2px black;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

#party-card-image {
  max-width: 70px;
  border: solid 2px white;
  border-radius: 10px;
}

#upcoming-hosting-list {
  height: 320px;
  overflow: auto;
}

#upcoming-attendance-list {
  height: 320px;
  overflow: auto;
}

#user-parties-container {
  margin-top: 10px;
}

#new-party-form {
  margin-top: 50px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  background-color: grey;
  padding: 10px;
}

#new-party-date-label {
  font-weight: bold;
  margin: 0;
}

#form-title {
  margin: auto;
  font-size: 30px;
}

#date-picker {
  margin: 0;
}

#date-picker-window {
  text-align: center;
  width: 350px;
  margin-bottom: 10px;
}

#upcoming-title-headline {
  margin: 0px;
  font-size: 30px;
}

#upcoming-title-block {
  font-size: 20px;
}

#party-bar-item {
  margin: 5px 15px 5px 15px;
  padding: 2px 5px 2px 5px;
  border: 2px solid black;
  border-radius: 10px;
}

#party-bar-host {
  margin: 5px auto 5px auto;
  padding: 2px 5px 2px 5px;
  border: 2px solid black;
  border-radius: 10px;
}

#party-nav-bar {
  border: 2px solid black;
  border-radius: 10px;
}

#nav-bar-title {
  font-weight: bold;
  font-size: 20px;
  margin: auto 50px auto 50px;
}

#party-section {
  width: 100%;
}
