@import url("https://fonts.googleapis.com/css?family=Acme|Merienda");

body {
  margin: 0;
  padding: 0;
  font-family: "Acme", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(35, 153, 209);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#top-bar {
  border-radius: 10px;
  height: 100%;
  margin-top: 50px;
}

#menu-button {
  border: solid 2px rgb(11, 94, 133);
  border-radius: 10px;
  float: left;
  padding: 10px;
  margin-top: 70px;
  margin-left: 30px;
  justify-content: center;
  background: white;
}

#main-title {
  font-size: 5em;
  text-align: center;
  padding-right: 200px;
}

#profile-display {
  border: solid 2px rgb(11, 94, 133);
  border-radius: 10px;
  padding: 10px;
  display: inline-flex;
  margin-top: 20px;
  width: 100%;
  background-color: white;
}

#profile-pic {
  border: solid 2px rgb(11, 94, 133);
  border-radius: 50px;
  width: 75px;
  margin-top: 10px;
  margin-left: 50px;
}

#profile-details {
  margin-left: 80px;
}

#login-form {
  background-image: url("../src/images/template.png");
  margin-top: 50px;
}

#upcoming-parties-pane {
  margin-top: 20px;
  height: 75.8%;
  border: solid 2px rgb(11, 94, 133);
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

#party-card-image {
  max-width: 70px;
  max-height: 140px;
  border: solid 2px white;
  border-radius: 10px;
}

#upcoming-hosting-list {
  height: 320px;
  overflow: auto;
}

#upcoming-attendance-list {
  height: 320px;
  overflow: auto;
}

#user-parties-container {
  margin-top: 10px;
}

#new-party-form {
  margin-top: 50px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  background-color: rgb(35, 153, 209);
  padding: 10px;
}

#new-party-date-label {
  font-weight: bold;
  margin: 0;
}

#form-title {
  margin: auto;
  font-size: 30px;
}

#date-picker {
  margin: 0;
}

#date-picker-window {
  text-align: center;
  width: 350px;
  margin-bottom: 10px;
}

#upcoming-title-headline {
  margin: 0px;
  font-size: 30px;
}

#upcoming-title-block {
  font-size: 20px;
}

#party-bar-item {
  margin: 5px 15px 5px 15px;
  padding: 2px 5px 2px 5px;
  border: 2px solid rgb(11, 94, 133);
  border-radius: 10px;
}

#party-bar-host {
  margin: 5px auto 5px auto;
  padding: 2px 5px 2px 5px;
  border: 2px solid rgb(11, 94, 133);
  border-radius: 10px;
}

#party-nav-bar {
  border: 2px solid rgb(11, 94, 133);
  border-radius: 10px;
  margin-bottom: 0px;
}

#nav-bar-title {
  font-weight: bold;
  font-size: 20px;
  margin: auto 50px auto 50px;
}

#party-section {
  width: 100%;
  margin-top: 10px;
}

#party-display-group {
  overflow: auto;
  margin: 10px;
  height: 300px;
  flex-wrap: nowrap;
}

#normal-party-card {
  max-height: 250px;
  min-height: 250px;
  min-width: 180px;
  max-width: 180px;
}

#normal-card-content {
  overflow: auto;
  max-height: 200px;
}

#normal-card-button {
}

#main-party-card-image {
  max-width: 140px;
  max-height: 140px;
  margin-bottom: 5px;
  border: solid 2px white;
  border-radius: 10px;
}

#party-pane {
  margin: auto auto 20px auto;
  width: 99%;
  border: 2px solid rgb(11, 94, 133);
  border-radius: 10px;
}

#pie-credit {
  color: white;
  margin: auto;
  position: absolute;
  bottom: 3%;
  left: 50%;
  margin-left: -155px;
}

#pie-credit-link {
  color: white;
}

#login-image {
  width: 100%;
}

#facebook-login {
  text-align: center;
  height: 100px;
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 80%;
}

#form-field-title {
  color: white;
}

#form-sponsored {
  text-align: center;
  margin-left: 42%;
}

#title-bar-image {
  width: 70%;
  margin-right: 150px;
}

#sponsored-display {
  background-color: rgb(209, 130, 36);
  margin-top: 20px;
  border: 2px solid rgb(11, 94, 133);
  border-radius: 10px;
}

#featured-party-card {
  margin: auto;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(11, 94, 133);
  border-radius: 10px;
}

#featured-party-card-image {
  max-height: 300px;
  width: 90%;
  border: 2px solid rgb(11, 94, 133);
  border-radius: 10px;
  margin-bottom: 10px;
}

#featured-title {
  color: white;
  font-size: 30px;
  margin-bottom: 0;
}

#carousel-back-button {
  color: white;
  background-color: rgb(35, 153, 209);
  border: 2px solid rgb(11, 94, 133);
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 50px;
}

#carousel-next-button {
  color: white;
  background-color: rgb(35, 153, 209);
  border: 2px solid rgb(11, 94, 133);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 50px;
}
